/*!
 * Start Bootstrap - Agency v3.3.7+1 (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
@font-face {
  font-family: 'FaithAndGloryOne';
  src: url("../fonts/faith-and-glory/lite/faith-and-glory-one/faith-and-glory-one.eot");
  src: url("../fonts/faith-and-glory/lite/faith-and-glory-one/faith-and-glory-one.eot?#iefix") format("embedded-opentype"), url("../fonts/faith-and-glory/lite/faith-and-glory-one/faith-and-glory-one.woff2") format("woff2"), url("../fonts/faith-and-glory/lite/faith-and-glory-one/faith-and-glory-one.woff") format("woff"), url("../fonts/faith-and-glory/lite/faith-and-glory-one/faith-and-glory-one.ttf") format("truetype"), url("../fonts/faith-and-glory/lite/faith-and-glory-one/faith-and-glory-one.svg#youworkforthem") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FaithAndGloryTwo';
  src: url("../fonts/faith-and-glory/lite/faith-and-glory-two/faith-and-glory-two.eot");
  src: url("../fonts/faith-and-glory/lite/faith-and-glory-two/faith-and-glory-two.eot?#iefix") format("embedded-opentype"), url("../fonts/faith-and-glory/lite/faith-and-glory-two/faith-and-glory-two.woff2") format("woff2"), url("../fonts/faith-and-glory/lite/faith-and-glory-two/faith-and-glory-two.woff") format("woff"), url("../fonts/faith-and-glory/lite/faith-and-glory-two/faith-and-glory-two.ttf") format("truetype"), url("../fonts/faith-and-glory/lite/faith-and-glory-two/faith-and-glory-two.svg#youworkforthem") format("svg");
  font-weight: normal;
  font-style: normal; }

.faith1 {
  font-family: 'FaithAndGloryOne', Helvetica, Arial, Sans-Serif; }

.faith2 {
  font-family: 'FaithAndGloryTwo', Helvetica, Arial, Sans-Serif; }

.faith1 a, .faith2 a {
  padding: .5em; }

.font-family-sans-serif {
  font-family: 'Proxima N W01 Smbd', Helvetica, sans-serif; }

.font-family-slab-light {
  font-family: 'PMNCaeciliaW01-45Light',  Verdana, Arial, Helvetica, sans-serif; }

.font-family-serif {
  font-family: 'PMNCaeciliaW01-75Bold', 'Georgia', 'Times New Roman', Times, serif; }

.font-family-monospace {
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace; }

.font-family-base {
  font-family: 'Proxima N W01 Light', Verdana, Arial, Helvetica, sans-serif; }

.font-family-av-bold {
  font-family: 'PMNCaeciliaW01-75Bold', Verdana, Arial, Helvetica, sans-serif; }

.bg-yellow {
  background-color: #ffd700; }

.bg-maroon {
  background-color: #660000; }

body {
  overflow-x: hidden;
  font-family: 'Proxima N W01 Light', Verdana, Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility; }

.text-muted {
  color: #777777; }

.text-primary {
  color: #f93822; }

p {
  font-size: 16px;
  line-height: 1.75; }

p.large {
  font-size: 20px; }

strong {
  color: #f93822; }

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none; }

a {
  color: #f93822; }

a:hover,
a:focus,
a:active,
a.active {
  color: #e21d06; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PMNCaeciliaW01-45Light',  Verdana, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

.img-centered {
  margin: 0 auto; }

.bg-light-gray {
  background-color: #eeeeee; }

.bg-darkest-gray {
  background-color: #222222; }

.btn-primary {
  color: white;
  background-color: #f93822;
  border-color: #f93822;
  font-family: 'PMNCaeciliaW01-45Light',  Verdana, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 700; }
  .btn-primary:focus, .btn-primary.focus {
    color: white;
    background-color: #e21d06;
    border-color: #971304; }
  .btn-primary:hover {
    color: white;
    background-color: #e21d06;
    border-color: #d81b06; }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    color: white;
    background-color: #e21d06;
    border-color: #d81b06; }
    .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
    .open > .btn-primary.dropdown-toggle:hover,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle.focus {
      color: white;
      background-color: #bf1805;
      border-color: #971304; }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus,
  fieldset[disabled] .btn-primary:hover,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary.focus {
    background-color: #f93822;
    border-color: #f93822; }
  .btn-primary .badge {
    color: #f93822;
    background-color: white; }

.btn-xl {
  color: white;
  background-color: #f93822;
  border-color: #f93822;
  font-family: "Proxima N W01 Smbd", Helvetica, sans-serif;
  font-weight: normal;
  border-radius: 0;
  font-size: 21px;
  padding: 10px 20px;
  margin-top: 20px;
  text-transform: uppercase; }
  .btn-xl:focus, .btn-xl.focus {
    color: white;
    background-color: #e21d06;
    border-color: #971304; }
  .btn-xl:hover {
    color: white;
    background-color: #e21d06;
    border-color: #d81b06; }
  .btn-xl:active, .btn-xl.active,
  .open > .btn-xl.dropdown-toggle {
    color: white;
    background-color: #e21d06;
    border-color: #d81b06; }
    .btn-xl:active:hover, .btn-xl:active:focus, .btn-xl:active.focus, .btn-xl.active:hover, .btn-xl.active:focus, .btn-xl.active.focus,
    .open > .btn-xl.dropdown-toggle:hover,
    .open > .btn-xl.dropdown-toggle:focus,
    .open > .btn-xl.dropdown-toggle.focus {
      color: white;
      background-color: #bf1805;
      border-color: #971304; }
  .btn-xl:active, .btn-xl.active,
  .open > .btn-xl.dropdown-toggle {
    background-image: none; }
  .btn-xl.disabled:hover, .btn-xl.disabled:focus, .btn-xl.disabled.focus, .btn-xl[disabled]:hover, .btn-xl[disabled]:focus, .btn-xl[disabled].focus,
  fieldset[disabled] .btn-xl:hover,
  fieldset[disabled] .btn-xl:focus,
  fieldset[disabled] .btn-xl.focus {
    background-color: #f93822;
    border-color: #f93822; }
  .btn-xl .badge {
    color: #f93822;
    background-color: white; }
  .btn-xl i {
    color: #ffd700; }

.navbar-custom {
  background-color: #660000;
  border-color: transparent; }
  .navbar-custom .navbar-header {
    width: 100%; }
  .navbar-custom .navbar-brand {
    color: #f93822;
    font-family: 'FaithAndGloryOne', Helvetica, Arial, Sans-Serif;
    float: none; }
    .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
      color: #e21d06; }
    .navbar-custom .navbar-brand img {
      margin: auto; }
  .navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.98); }
  .navbar-custom .navbar-toggle {
    background-color: #f93822;
    border-color: #f93822;
    font-family: 'PMNCaeciliaW01-45Light',  Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 12px; }
    .navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
      background-color: #f93822; }
  .navbar-custom .nav li a {
    font-family: 'PMNCaeciliaW01-45Light',  Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: white; }
    .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
      color: #f93822;
      outline: none; }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #f93822; }
  .navbar-custom .navbar-nav > .active > a:hover,
  .navbar-custom .navbar-nav > .active > a:focus {
    color: white;
    background-color: #e21d06; }

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none; }
    .navbar-custom .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    .navbar-custom .navbar-nav > .active > a {
      border-radius: 3px; } }

@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #660000;
    padding: 10px 0; }
    .navbar-custom.affix .navbar-brand {
      font-size: 1.5em; } }

.logo-header {
  background-color: #660000;
  padding: 20px;
  margin-bottom: 0; }

header {
  background-image: url("../img/Header_Adult_Parttime.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  position: relative; }
  header .intro-text {
    padding-top: 150px;
    padding-bottom: 0;
    text-align: left;
    text-shadow: #000000 8px 8px 16px; }
    header .intro-text .intro-lead-in {
      font-family: 'PMNCaeciliaW01-75Bold', Verdana, Arial, Helvetica, sans-serif;
      font-style: normal;
      font-size: 25px;
      font-weight: normal;
      line-height: 40px;
      margin-bottom: 25px; }
      header .intro-text .intro-lead-in span {
        display: block; }
    header .intro-text .intro-heading {
      font-family: 'PMNCaeciliaW01-75Bold', Verdana, Arial, Helvetica, sans-serif;
      font-weight: normal;
      font-size: 35px;
      line-height: 35px;
      margin-bottom: 25px;
      text-transform: uppercase; }
    header .intro-text .intro-lead-out {
      font-family: 'FaithAndGloryOne', Helvetica, Arial, Sans-Serif;
      color: #ffd700;
      font-style: normal;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 35px;
      margin-top: 40px;
      text-align: right; }

.logo img {
  margin: auto; }

@media (min-width: 992px) {
  header .intro-text {
    padding-top: 500px;
    padding-bottom: 0; }
    header .intro-text .intro-lead-in {
      font-family: 'PMNCaeciliaW01-75Bold', Verdana, Arial, Helvetica, sans-serif;
      font-size: 38px;
      font-style: normal;
      font-weight: 400;
      line-height: 45px;
      margin-bottom: 25px; }
      header .intro-text .intro-lead-in span {
        display: inline; }
      header .intro-text .intro-lead-in span:after {
        content: " |"; }
      header .intro-text .intro-lead-in span:last-child:after {
        content: ""; }
    header .intro-text .intro-heading {
      font-family: 'PMNCaeciliaW01-75Bold', Verdana, Arial, Helvetica, sans-serif;
      font-size: 70px;
      font-style: normal;
      font-weight: 400;
      line-height: 70px;
      margin-bottom: 25px; }
    header .intro-text .intro-lead-out {
      font-family: 'FaithAndGloryOne', Helvetica, Arial, Sans-Serif;
      font-style: normal;
      font-size: 55px;
      line-height: 40px;
      margin-bottom: 25px; } }

.lead-form {
  background-color: #ffd700;
  color: #660000;
  padding: 10px; }
  .lead-form input:focus,
  .lead-form select:focus {
    background-color: #660000;
    color: #ffd700;
    outline-color: #660000; }

@media (min-width: 992px) {
  .lead-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%; } }

section {
  padding: 50px 0; }
  section h2.section-heading {
    color: #f93822;
    font-size: 35px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 15px; }
  section h2.section-subheading {
    color: #f93822;
    font-size: 30px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 5px solid #ffd700; }
  section h3.section-heading {
    font-family: "Proxima N W01 Smbd", Helvetica, sans-serif;
    color: #660000;
    font-size: 30px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: none; }
  section h3.section-subheading {
    color: #f93822;
    font-size: 16px;
    font-family: 'PMNCaeciliaW01-45Light',  Verdana, Arial, Helvetica, sans-serif;
    text-transform: none;
    font-weight: normal;
    margin-bottom: 15px; }

@media (min-width: 768px) {
  section {
    padding: 50px 0; }
    section h2.section-heading {
      font-size: 40px; } }

.service-heading {
  margin: 15px 0;
  text-transform: none; }

#portfolio h2 {
  border-bottom: 5px solid #ffffff;
  padding-bottom: 40px;
  margin-bottom: 40px; }

#portfolio h3.section-heading {
  text-transform: uppercase;
  padding-bottom: 40px; }

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0; }
  #portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto; }
    #portfolio .portfolio-item .portfolio-link .portfolio-hover {
      background: rgba(249, 56, 34, 0.1);
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s; }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
        opacity: 1; }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
        position: absolute;
        width: 100%;
        height: 20px;
        font-size: 20px;
        text-align: center;
        top: 50%;
        margin-top: -12px;
        color: white; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
          margin-top: -12px; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
          margin: 0; }
  #portfolio .portfolio-item .portfolio-caption {
    color: #660000;
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 25px 0; }
    #portfolio .portfolio-item .portfolio-caption h4 {
      font-family: "Proxima N W01 Smbd", Helvetica, sans-serif;
      text-transform: none;
      margin: 0;
      font-size: 21px;
      text-transform: uppercase; }
    #portfolio .portfolio-item .portfolio-caption p {
      font-family: 'PMNCaeciliaW01-45Light',  Verdana, Arial, Helvetica, sans-serif;
      font-style: italic;
      font-size: 16px;
      margin: 0; }

#portfolio * {
  z-index: 2; }

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }

section#about p {
  max-width: 700px;
  margin: auto; }

section#jesuit a {
  text-decoration: underline;
  font-family: "Proxima N W01 Smbd", Helvetica, sans-serif; }

section#jesuit h2.section-heading {
  border-bottom: 5px solid #ffffff;
  padding-bottom: 40px;
  margin-bottom: 40px; }

section#callout-grid {
  padding: 0; }

.callout-grid-item {
  padding: 20px; }
  .callout-grid-item .callout-grid-image {
    background-color: #ffd700;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    color: white;
    width: 80px;
    height: 80px;
    float: left; }
  .callout-grid-item .callout-grid-panel {
    position: relative;
    margin-left: 100px; }
  .callout-grid-item .callout-grid-heading h4 {
    margin-top: 0;
    color: #f93822;
    font-weight: normal;
    font-size: 28px; }
    .callout-grid-item .callout-grid-heading h4.subheading {
      text-transform: none; }
  .callout-grid-item .callout-grid-body p {
    font-family: "Proxima N W01 Smbd", Helvetica, sans-serif;
    font-size: 21px;
    color: #660000;
    margin-bottom: 0; }

@media (min-width: 768px) {
  .callout-grid-item .callout-grid-image {
    width: 100px;
    height: 100px; }
  .callout-grid-item .callout-grid-panel {
    margin-left: 120px; } }

@media (min-width: 992px) {
  .callout-grid-item .callout-grid-image {
    width: 150px;
    height: 150px; }
  .callout-grid-item .callout-grid-panel {
    margin-left: 170px;
    min-height: 250px; }
  .callout-grid-item .callout-grid-body p {
    font-size: 18px; }
  .callout-grid-item:first-child {
    border-bottom: 4px solid #f1f1f1;
    border-right: 4px solid #f1f1f1; }
  .callout-grid-item:nth-child(2) {
    border-bottom: 4px solid #f1f1f1; }
  .callout-grid-item:nth-child(3) {
    border-right: 4px solid #f1f1f1; } }

@media (min-width: 1200px) {
  .callout-grid-item .callout-grid-image {
    width: 170px;
    height: 170px; }
  .callout-grid-item .callout-grid-panel {
    margin-left: 190px; }
  .callout-grid-item:first-child {
    border-bottom: 4px solid #f1f1f1;
    border-right: 4px solid #f1f1f1; }
  .callout-grid-item:nth-child(2) {
    border-bottom: 4px solid #f1f1f1; }
  .callout-grid-item:nth-child(3) {
    border-right: 4px solid #f1f1f1; } }

section#timeline {
  padding: 0; }

.timeline {
  margin: auto;
  list-style: none;
  padding: 0;
  position: relative; }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 0px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px; }
  .timeline > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px; }
    .timeline > li:before, .timeline > li:after {
      content: " ";
      display: table; }
    .timeline > li:after {
      clear: both; }
    .timeline > li .timeline-panel {
      width: 100%;
      float: right;
      padding: 0 20px 0 100px;
      position: relative;
      text-align: left; }
      .timeline > li .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    .timeline > li .timeline-image {
      left: 0;
      margin-left: 0;
      width: 80px;
      height: 80px;
      position: absolute;
      z-index: 100;
      background-color: #ffd700;
      color: white;
      border-radius: 100%;
      border: 7px solid #f1f1f1;
      text-align: center; }
      .timeline > li .timeline-image h4 {
        font-size: 10px;
        margin-top: 12px;
        line-height: 14px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 20px 0 100px; }
      .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    .timeline > li:last-child {
      margin-bottom: 0; }
  .timeline .timeline-heading h4 {
    margin-top: 0;
    color: #f93822;
    font-weight: normal;
    font-size: 28px; }
    .timeline .timeline-heading h4.subheading {
      text-transform: none; }
  .timeline .timeline-body > p,
  .timeline .timeline-body > ul {
    font-family: "Proxima N W01 Smbd", Helvetica, sans-serif;
    font-size: 21px;
    color: #660000;
    margin-bottom: 0; }

@media (min-width: 768px) {
  .timeline:before {
    left: 50%; }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
    left: -15%; }
    .timeline > li .timeline-panel {
      width: 41%;
      float: left;
      padding: 0 20px 20px 30px;
      text-align: right; }
    .timeline > li .timeline-image {
      width: 100px;
      height: 100px;
      left: 50%;
      margin-left: -50px; }
      .timeline > li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 30px 20px 20px; } }

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
    left: -20%; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px; }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px; }
      .timeline > li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px; } }

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px; }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px; }
      .timeline > li .timeline-image h4 {
        margin-top: 40px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px 20px; } }

section#team ul {
  color: #660000; }

section#team li {
  list-style: none;
  font-family: "Proxima N W01 Smbd", Helvetica, sans-serif;
  font-size: 21px; }

section#team li:before {
  /*Using a Bootstrap glyphicon as the bullet point*/
  content: "\e092";
  font-family: 'Glyphicons Halflings';
  font-size: 21px;
  float: left;
  margin-left: -21px;
  margin-right: 5px; }

.team-member {
  text-align: center;
  margin-bottom: 50px; }
  .team-member img {
    margin: 0 auto;
    border: 7px solid white; }
  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none; }
  .team-member p {
    margin-top: 0; }

aside.clients img {
  margin: 50px auto; }

section#contact {
  background-color: #222222;
  background-image: url("../img/map-image.png");
  background-position: center;
  background-repeat: no-repeat; }
  section#contact .section-heading {
    color: white; }
  section#contact .form-group {
    margin-bottom: 25px; }
    section#contact .form-group input,
    section#contact .form-group textarea {
      padding: 20px; }
    section#contact .form-group input.form-control {
      height: auto; }
    section#contact .form-group textarea.form-control {
      height: 236px; }
  section#contact .form-control:focus {
    border-color: #f93822;
    box-shadow: none; }
  section#contact ::-webkit-input-placeholder {
    font-family: 'PMNCaeciliaW01-45Light',  Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee; }
  section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: 'PMNCaeciliaW01-45Light',  Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee; }
  section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'PMNCaeciliaW01-45Light',  Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee; }
  section#contact :-ms-input-placeholder {
    font-family: 'PMNCaeciliaW01-45Light',  Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee; }
  section#contact .text-danger {
    color: #e74c3c; }

footer {
  color: #ffffff;
  padding: 25px 0; }
  footer a {
    color: #ffffff;
    text-decoration: underline; }
  footer span.copyright {
    line-height: 40px;
    font-family: 'PMNCaeciliaW01-45Light',  Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-transform: none; }
  footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: 'PMNCaeciliaW01-45Light',  Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-transform: none; }

ul.social-buttons {
  margin-bottom: 0; }
  ul.social-buttons li a {
    display: block;
    background-color: #660000;
    border: 2px solid #ffffff;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 35px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
      background-color: #f93822; }

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none; }

.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto; }

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: left; }
  .portfolio-modal .modal-content h2 {
    color: #f93822;
    border-bottom: 5px solid #ffd700;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 3em;
    text-align: center; }
  .portfolio-modal .modal-content h2.subheading,
  .portfolio-modal .modal-content h3 {
    color: #f93822;
    border-bottom: none;
    margin-bottom: 5px;
    padding-bottom: 0;
    font-size: 2em;
    text-align: left; }
  .portfolio-modal .modal-content .btn-xl {
    display: block;
    width: 170px;
    margin: 10px auto;
    padding: 5px 12px; }
  .portfolio-modal .modal-content .btn-primary {
    background-color: transparent;
    border-color: transparent;
    color: #660000;
    font-family: "Proxima N W01 Smbd", Helvetica, sans-serif; }
  .portfolio-modal .modal-content .btn-primary:active {
    box-shadow: none; }
  .portfolio-modal .modal-content button {
    display: block;
    margin: auto;
    font-size: 18px; }
    .portfolio-modal .modal-content button i {
      color: #f93822;
      padding-left: 2px; }
  .portfolio-modal .modal-content p {
    margin-bottom: 15px; }
    .portfolio-modal .modal-content p strong {
      color: #660000;
      font-family: "Proxima N W01 Smbd", Helvetica, sans-serif; }
  .portfolio-modal .modal-content p.item-intro {
    color: #660000;
    margin: 20px 0 30px;
    font-family: "Proxima N W01 Smbd", Helvetica, sans-serif;
    font-style: normal;
    font-size: 16px;
    text-align: center; }
  .portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0; }
  .portfolio-modal .modal-content img {
    margin-bottom: 30px; }

.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer; }
  .portfolio-modal .close-modal:hover {
    opacity: 0.3; }
  .portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    z-index: 1051; }
    .portfolio-modal .close-modal .lr .rl {
      height: 75px;
      width: 1px;
      background-color: #222222;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      /* Safari and Chrome */
      z-index: 1052; }

.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none; }

::-moz-selection {
  text-shadow: none;
  background: #f93822; }

::selection {
  text-shadow: none;
  background: #f93822; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  webkit-tap-highlight-color: #f93822; }
