// Mixins

// Bootstrap Button Variant

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
          border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

// Background Cover Mixin

@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

// Font Mixins

@mixin serif-font {
  font-family: 'PMNCaeciliaW01-45Light',  Verdana, Arial, Helvetica, sans-serif;
}

@mixin script-font {
  font-family: 'FaithAndGloryOne', Helvetica, Arial, Sans-Serif;
}

@mixin script-two-font {
  font-family: 'FaithAndGloryTwo', Helvetica, Arial, Sans-Serif;
}

@mixin body-font {
  font-family: 'Proxima N W01 Light', Verdana, Arial, Helvetica, sans-serif;
}

@mixin heading-font {
  font-family: 'PMNCaeciliaW01-45Light',  Verdana, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
@mixin bold-font {
  font-family: 'PMNCaeciliaW01-75Bold', Verdana, Arial, Helvetica, sans-serif;
}
